
body{
  margin:0}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: large;
  }
  .navleft {
    display: flex;
    width: 250px;
    justify-content: space-between;
    transform: translateX(-5%);
    list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: small;
    color:#FFFFFF;
  }
  .navbar a {
    text-decoration: none;
    color: #505F98}
    .navcenter{
      position:relative;
  color:#505F98 37447E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#FFFFFF;
    }
    .navright{
      cursor: pointer;
      position:relative;
      margin-right: 80px;
      background:#111B47;
      width:120px ;
      height: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: small;
      text-align: center;
      color:white;
      border-radius: 5px;
      
  
    }
    .img_text{
      display: flex;
      width:100%;
      justify-content: space-between;
    }
    .img_right{
      display: flex;
margin-left: 5%;
width:600px;
height: 500px;
transform: translateY(15%);
margin-top:2% ;
    }
   .content{
    margin-top: 5%;
    transform: translateX(350PX);
   line-height: 0.8em;
    


    
    }
   
   .title{
    font-size: medium;
    line-height:  1.5em; 
    color:#091133;
   }
    .paragraphe{
      font-size:14px ;
      line-height: 1.3em;
      
    }
    .part2{
      display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
  margin-top:1000x;
    width: 1;
    row: gap 1.5em;;
   

}
.first,.second,.third,.fifth{
  display:flex;

  
}
.text1,.text2,.text3,.text4{
  line-height: 1.2em;
}

 .text_img{
  display: flex;}
  

  
.tx_img{
  display:flex;
  justify-content: space-between;
}
.boxs{
  display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
   justify-content: space-between;
   
   
}
.seventh ,.eighth, .sixth,.ninth{
  display:flex;
  
  justify-content: center ;
 
}

.first_part{
  display: flex;
  background-color: #F7F7F7;

  
 
 
  height:500px;
  margin:auto;
  justify-content: space-between;
 
}
.right_img{
  transform: translateX(-150px);
   margin-top: 50px;
}
.txt{
margin-left: 248px;
margin-top:140px ;
}
#h2{
  color: #091133;
}
#p2{
  color:#6F7CB2;
}
.txte{
  margin-top:250px ;
  transform: translateX(150px);
  justify-content: center;
}
.img3{
  width:515px ;
  height: 700px;
  margin-left: auto;
}


.mg_txx{
  display: flex;
  background-color: #F7F7F7;
  height:500px;
  margin:auto;
  justify-content: space-between;
  
 
}
.imager{transform: translateX(-150px);
width:445px;
margin-left:350px ;
margin-top:100px;
height: 300px
}
.text_bt{
  margin-top:150px;
  margin-right: 250px;
}
.btnt{
  background-color: #111B47;
  color: white;
  width: 150px;
  height:25px ;
  font-size:1.5;
border-radius:3px ;
 
  text-align: center;
 
}
.btnt a{
  color:#FFFFFF;
  text-decoration: none;
}


.footer{
  background-color:#F2F5FF ; 
  color:#939EA4; 
  padding: 20px 0; 
  margin-top: 300px;
  font-family: Arial, sans-serif; 
}

.top_footer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px; 
}

.crt {
  font-size: 14px; 
}

.btn  {
  background-color: #111B47; 
  color: #FFFFFF;
 
  padding: 8px 10px; 
  text-decoration: none; /* Enlève le soulignement */
  border-radius: 3px; 
  transition: background-color 0.3s; 
  ;
  
}
.btn a{ color: #FFFFFF;
  text-decoration: none;font-size: 0.8em
}




.ligne {
  height: 1px; 
  background-color:#CDD1D4; 
  margin: 20px 0; 
}

.lista_inst {
  display: flex; 
  justify-content: space-between; 
  padding: 0 20px; 
}

.list ul {
  list-style: none; /
  padding: 0; 
  display: flex;
  justify-content: space-between;
}

.list ul li {
  margin: 5px 0;
  display: flex; /* Espacement entre les liens */
  justify-content: space-between;
  margin-left: 10px;;
}

.list a {
  display:flex;
  color: #505F98; 
  text-decoration: none; /* Enlève le soulignement */
 
}


.inst {
  display: flex; 
 
}

.inst img {
  width: 24px; 
  height: auto; 
  transition: transform 0.3s;
  margin-left: 20px;
 justify-content: space-between;
}

.inst img:hover {
  transform: scale(1.1); 
}
