.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: large;
    background-color: grey;
    
  }
  .navleft {
    display: flex;
    width: 250px;
    justify-content: space-between;
    transform: translateX(-5%);
    list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: small;
    color:#FFFFFF;
  }
  .navbar a {
    text-decoration: none;
    color: #505F98}
    .navcenter{
      position:relative;
  color:#505F98 37447E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#FFFFFF;
    }
    .navright{
      cursor: pointer;
      position:relative;
      margin-right: 80px;
      background:#111B47;
      width:120px ;
      height: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: small;
      text-align: center;
      color:white;
      border-radius: 5px;
      
  
    }
body{
    
    background-color: white;
    margin: 0;
    padding: 0;
}


.container {
    width: 35%;
    margin: 35% auto;
    background:#F0F0F0 ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(72, 41, 140, 0.1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
}

label {
    display: flex;
    margin: 15px 0 14px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 5px;
    border: 1px solid grey;
   
    
  
    border-radius: 10px;
height:0% ;
}

button {
    display:block;
   
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color:black;
    color: grey ;
border: 0cqh;
    border-radius: 5px;
    
}

button:hover {
    background-color: #222F65;
}
