.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: large;
  }
  .navleft {
    display: flex;
    width: 250px;
    justify-content: space-between;
    transform: translateX(-5%);
    list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: small;
    color:#FFFFFF;
  }
  .navbar a {
    text-decoration: none;
    color: #505F98}
    .navcenter{
      position:relative;
  color:#505F98 37447E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#FFFFFF;
    }
    .navright{
      cursor: pointer;
      position:relative;
      margin-right: 80px;
      background:#111B47;
      width:120px ;
      height: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: small;
      text-align: center;
      color:white;
      border-radius: 5px;
      
  
    }
    .img_text{
      display: flex;
      width:100%;
      justify-content: space-between;
    }
    .img_right{
      display: flex;
margin-left: 5%;
width:600px;
height: 480px;
transform: translateY(15%);
margin-top:2% ;
    }
   .content{
    margin-top: 5%;
    transform: translateX(350PX);
    


   }
   .title{
    font-size: medium;
    line: height 1.5em; ;
   }
    .paragraphe{
      font-size:14px ;
      line-height: 1.3em;
    }
    .part2{
      display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
  margin-top:1000x;
    width: 1;
   

}
 .text_img{
  display: flex;
  
  
}
.tx_img{
  display:flex;
  justify-content: space-between;
}
.ana{
  display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); e
}
.seventh ,.eighth, .sixth,.ninth{
  display:flex;
  justify-content: space-between;
}
